@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 50px;
  animation: appear 2s ease;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.line {
  width: 500px;
  height: 2px;
  background-color: #333;
}

#intro {
  margin-block: 20px;
}

#subsection {
  color: darkgreen;
  font-size: medium;
  font-weight: bold;
  letter-spacing: 1.4px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 100%;
  transform: translateX(-50%);
  padding: 8px;
  background-color: #333;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  white-space: pre;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

/* Show tooltip on hover */
.tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

.social-links {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.social-icon {
  width: 24px;
  height: 24px;
  opacity: 0.7;
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.social-icon:hover {
  opacity: 1;
  transform: translateY(-2px);
}

.integration {
  font-weight: bolder;
  font-size: 30px;
}

.intro-line {
  display: flex;
  align-items: center;
  gap: 5px;
}
